body {
    background-color: #b6f9cf;
    color: #012301;
}

.header {
    background-color: #012301;
    width: 100%;
    margin-bottom: 30px;
    color: #b6f9cf;
    text-align: center;
}

.main-title {
    margin: 0;
}

.description {
    margin: 0;
    font-style: italic;
}

.main-form {
    background-color: #b6f9cf;
    color: #012301;
}

.fieldset,
.button {
    text-align: center;
    padding: 10px;
    margin: auto;
    border: 1px solid #012301;
    border-radius: 5px;
}
